@import '../fonts';
@import '../variables';
@import '../mixins';

.step-indicator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $spacing-md 0;

    .step-count {
        font-size: 12px;
        color: $color-text;
        text-align: center;
    }

    .step-title {
        text-align: center;
    }
}
